{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@config/(.*)$",
    "^@shared/(.*)$",
    "^@pages/(.*)$",
    "^@redux/(.*)$",
    "^[./](.*)$",
    "^.*\\.css$"
  ],
  "overrides": [
    {
      "files": "*.json"
    },
    {
      "files": "*.md"
    }
  ]
}
