{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "proseWrap": "preserve",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@config/(.*)$",
        "^@shared/(.*)$",
        "^@api/(.*)$",
        "^@domains/(.*)$",
        "^[./]"
    ],
    "overrides": [
        {
            "files": "*.json"
        },
        {
            "files": "*.md"
        }
    ]
}
