name: Frontend

on:
  push:
    branches: ["master"]
    paths:
      - "apps/frontend/**"
  pull_request:
    branches: ["master"]
    paths:
      - "apps/frontend/**"

defaults:
  run:
    working-directory: ./apps/frontend

jobs:
  format-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: "22.15.0"
          cache: "npm"
          cache-dependency-path: apps/frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Check Formatting
        run: npm run prettier:check

      - name: Lint
        run: npm run lint:check

  build:
    runs-on: ubuntu-latest
    needs: format-and-lint

    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: "22.15.0"
          cache: "npm"
          cache-dependency-path: apps/frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
